.formula, .rolled {
	display: inline;
	padding: 3px;
	background: white;
	border-radius: 3px;
	border: 1px solid #D1D1D1;
	font-size: 1.1em;
	line-height: 2.0em;
	word-wrap: break-word;
}

.rolled {
	font-weight: bold;
}

.dropped {
	opacity: 0.55;
}

.critsuccess {
	color: #508C4D;
	font-weight: bold;
}

.critfail {
	color: #D61A1A;
	font-weight: bold;
}

.diceroller {
	background-color: #D3E5F5;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.diceroller input {
	width: 300px;
	margin-top: 5px;
}

.diceroller small {
	display: block;
	margin-top: 0px;
	font-size: 0.9em;
}

.accordion-heading {
	background: #6393c1;
	border: 0px;
	font-size: 1.15em;
}

.accordion-heading a {
	color: white;
	font-weight: bold;
}

.accordion-group {
	box-shadow: 0px 0px 5px #D1D1D1;
}

.accordion-inner {
	padding: 0;
}

.accordion-inner ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.accordion-inner ul li {
	padding: 10px 10px 10px 20px;
	margin: 0;
	border-bottom: 1px solid #EEE;
}

h1 {
	margin-bottom: 20px;
	border-bottom: 1px solid #EEE;
	padding-bottom: 5px;
	margin-top: 25px;
}

h1.pagetitle {
	margin-top: 0px;
}

h2 {
	margin-bottom: 10px;
	margin-top: 25px;
}

.header {
	margin-top: 25px;
	margin-bottom: 50px;
}

.header .sidelinks {
	float: right;
	margin-top: 10px;
}

footer {
	margin-top: 75px;
	padding-bottom: 50px;
	padding-top: 10px;
	border-top: 1px solid #EEE;
}

.popular-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.popular-list ul li {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px solid #EEE;
}

.container-fluid {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.row-fluid p img {
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}