---
sidebar_cats:
- beginner
- advanced
- specific_systems
- troubleshooting
- site_policy
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }} | Roll20 Help</title>
    <link href="/twitterbootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/roll20help.css" type="text/css" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/twitterbootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/roll20help.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://app.roll20.net/assets/dice_engine.min.js?v=5"></script>
    <script type="text/javascript" src="http://app.roll20.net/js/jquery.jqote2.js"></script>
    <script type="text/javascript" src="http://app.roll20.net/js/underscore.js"></script>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class='span12'>

          <div class="header">

            <!-- <div class="sidelinks">

              <div class="btn-group">
                <a class="btn" href="http://community.roll20.net/index.php?p=/entry/jsconnect&client_id=54386393&Target=/categories/help-support">Support Forums</a>
                <a class="btn" href="http://app.roll20.net/">Back to Roll20</a>
              </div>

            </div> -->

            <div class='logo'>
              <a href="/"><img src="/images/logo.png" /></a>
            </div>

          </div>

        </div>

      </div>

      <div class="row">
        <div class="span9">

          <h1 class="pagetitle">{{page.title}}</h1>

          {{content}}

        </div>

        <div class="span3">

          <div class="sidebar-group">
            <div id="accordion2">
              
              {% for cat in (page.sidebar_cats) %}
              <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_{{cat}}">{{ cat | replace:'_',' ' | capitalize }}</a></div>
                <div id="collapse_{{cat}}" class="accordion-body collapse {% if page.categories contains cat %} in {% endif %}">
                  <div class="accordion-inner">
                    <ul>
                    {% for post in site.posts reversed %}{% if post.categories contains cat %}
                      {% if page.title == post.title %}
                        <li class="disable"><span>{{ page.title }}</span></li>
                      {% else %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                      {% endif %}
                    {% endif %}{% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endfor %}

          </div>
        </div>
        <hr />
        <p>
          <a href="http://www.kickstarter.com/projects/rileydutton/roll20-virtual-tabletop-gaming-that-tells-a-story"><img src="/images/kslogo.png" width="200" height="23" style="margin-bottom: 5px;" /></a>
          Want to support the development of Roll20 and participate in the closed beta? <a href="http://www.kickstarter.com/projects/rileydutton/roll20-virtual-tabletop-gaming-that-tells-a-story">Back us on Kickstarter!</a>
        </p>
        

      </div>

    </div>

    <footer>
      <div class="container">
        <p>&copy; 2012 &middot; <a href="/acknowledgements">Acknowledgements</a> &middot; <a href="/terms-of-service">Terms of Service &amp; Privacy Policy</a> &middot; <a href="/terms-of-service/#dmca">DMCA</a>
        </p>
      </div> <!-- /container -->
    </footer>

    <script type="text/html" id="tmpl_chatmessage_rollresult">
      <div class='message rollresult you'>
        <$ var s = this.split("|"); $>
        <div class="formula" style="margin-bottom: 3px;">
          rolling <$= s[0] $>
        </div>
        <div class="clear"></div>
        <div class="formula">
          <$= s[1].replace(/\[[0-9{}@#]+\]/g, function(match) { return match.replace("[", "<span class='dropped'>").replace("]", "</span>"); }).replace(/{@[0-9]+@}/g, function(match) { return match.replace("{@", "<span class='critsuccess'>").replace("@}", "</span>"); }).replace(/{#[0-9]+#}/g, function(match) { return match.replace("{#", "<span class='critfail'>").replace("#}", "</span>"); }) $>
        </div>
        <strong> = </strong>
        <div class="rolled">
          <$= s[2] $>
        </div>
      </div>
    </script>

    <script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(66573779);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66573779ns.gif" /></p></noscript>

  </body>
</html>
